---
title: Rumen Manev // Business developer, Project manager, Outdoorsman
---
<div id="page-wrap">
	
	<div class="post myname">
		<h1>RUMEN 
		<br>MANEV</h1>
	</div>
	
	<div class="post">
	</div>
	
	<div class="post">
	</div>

	<div class="post">
	</div>
	<table>
	<tr>
	<td>
	<div class="post">
		<h2>ABOUT</h2>
			<div id="about-me">
				<p>Business development | Growth </br> Project management | Freelancing </br> Amateur Web Development </br> Running | Climbing | Cycling | Nature</p>
			</div>
		<!-- div id="e-pitch">
			<h2>THINGS I DID</h2>
			<div id="e-pitch-text">
				<ul class="timeline-info">
					<li>Created an <a href="http://nordkins.com" target="_blank">apparel brand</a> together with my girlfriend.</li>
					<li>Started a charity project called <a href="http://grafficards.com" target="_blank">Grafficards</a>.</li>
					<li>Organized the first <a href="https://www.linkedin.com/pulse/organizing-hackathon-rumen-manev?trk=prof-post" target="-blank">AngelHack hackathon</a> in Sofia.</li>
				</ul>
			</div>
		</div> -->
	</div>
	</td>
	
	<td>
	<div class="post">
		<h2>THINGS I DID</h2>
		<div id="timeline">
			<ul class="timeline-info">
			<li><a href="http://nordkins.com" target="_blank">Nordkins</a> // street apparel</li>
			<li><a href="http://grafficards.com" target="_blank">Grafficards</a> // charity project</li>
			<li><a href="https://www.linkedin.com/pulse/organizing-hackathon-rumen-manev?trk=prof-post" target="-blank">AngelHack </a> // first hackathon in Sofia</li>
<!-- 				<li>2008 - Bachelor's @ <a href="https://www.uni-sofia.bg/index.php/eng" target="_blank">Sofia University</a></li>
				<li>2012 - started work @ <a href="http://kamarko.eu/" target="_blank">Coria Ltd.</a></li>
				<li>2014 - Master's @ <a href="http://hj.se/" target="_blank">JU, Sweden</a></li>
				<li>2015 - started work @ <a href="https://code-runners.com" target="_blank">Code Runners</a></li>
				<li>2016 - ran my first marathon</li> -->
			</ul>
		</div>
	</div>
	</td>
	<td>
	<div class="post">
		<h2>CONTACT</h2>
		<div id="contact">
				<ul class="contact-info">
					<li><a class="fa fa-envelope menu-white-text fa-lg" href="mailto:manev.ru@gmail.com"></a></li>
					<li><a class="fa fa-twitter menu-white-text fa-lg" href="http://twitter.com/intent/tweet?screen_name=room_n"></a></li>
					<li><a class="fa fa-medium menu-white-text fa-lg" href="https://medium.com/@room_n"></a></li>
					<li><a class="fa fa-linkedin menu-white-text fa-lg" href="https://bg.linkedin.com/in/rmanev" target="_blank"></a></li>
				</ul>
		</div>
	</div>
	</td>
	<td>
	<div id="footer">
		<p>&#169 2015 Rumen Manev</p>
	</div>
	</td>
	</tr>
	</table>
</div>