---
title: Rumen Manev // Business, Outdoors & Tech
---

<div id="side">
	<div class="content-center">
		<h1 id="logo">
			<a href="http://www.rmanev.com#!/home"></a>
		</h1>
		<ul id="menu">
			<li>
				<a href="http://www.rmanev.com#!/home" data-anchor="#!/home" class="active">About</a>
			</li>
			<li>
				<a href="http://www.rmanev.com#!/projects" data-anchor="#!/projects" class="active">Projects</a>
			</li>
<!-- 		<li>
				<a href="http://www.rmanev.com#!/latest" data-anchor="#!/latest" class="active">Currently</a>
			</li> -->
			<li>
				<a href="http://www.rmanev.com#!/contact" data-anchor="#!/contact" class="active">Contact</a>
			</li>
		</ul>

		<div id="social" class="social">
			<a class="fa fa-envelope menu-white-text fa-lg" href="mailto:manev.ru@gmail.com" target="_blank"></a>
            <a class="fa fa-linkedin menu-white-text fa-lg" href="https://bg.linkedin.com/in/rmanev" target="_blank"></a>
			<a class="fa fa-twitter menu-white-text fa-lg" href="http://twitter.com/intent/tweet?screen_name=room_n" target="_blank"></a>
			<a class="fa fa-medium menu-white-text fa-lg" href="https://medium.com/@room_n" target="_blank"></a>
		</div>
	</div> 
        <div class="copyright" id="social">
            <b>&copy;</b> 2017 Rumen Manev
        </div>
</div>

    <div id="pages">	   
        <section id="home" class="page table center">
            <div class="row">
                <div class="cell">
                    <div class="content">
                        <h2 class="title-caret">Hi there!</h2>
                        <p>You've stumbled upon the online space of <strong>Rumen Manev</strong>. I am currently based and working in Sofia, Bulgaria.</p> <p>A few of my interests include:</p> <p>Business development | Project management </br> Freelancing | Amateur Web Development | Data Science </br> Running | Climbing | Cycling | Nature</p> <p>Scroll down to learn more about me and even get in touch if you see something interesting.</p>
                    </div>
                </div>
            </div>
        </section>
<!-- 
        <section id="works" class="page table center">
            <div class="row">
                <div class="cell">
                    <div class="content">
                        <h2 class="title-caret">Latest</h2>
                    </div>
                </div>
            </div>
                        
            <div id="works-wrap">
                <div id="works-tiles" class="request-container">
                    <div class="row show">
            
        
                    </div>
                </div>
            </div>
        </section> -->

        <section id="projects" class="page table center">
            <div class="row">
                <div class="cell">
                    <div class="content">                        
                        <div class="project-page request-container">
                            <h2 class="title-caret back">Projects</h2> 
                            <ul>
            <p><li><a href="http://nordkins.com" target="_blank"><strong>Nordkins</strong></a>  
            <div class="img glitch">
            </div>
            <span class="desc">A street apparel brand highlighting art and simplicity.</span>
            </li></p>

            <p><li><a href="http://grafficards.com" target="_blank"><strong>Grafficards</strong></a> 
            <div class="img glitch">
            </div>
            <span class="desc">A charity project for custom drawn, hand-written postcards (discontinued).</span>
            </li></p>

            <p><li><a href="https://www.linkedin.com/pulse/organizing-hackathon-rumen-manev?trk=prof-post" target="-blank"><strong>AngelHack</strong></a>
            <div class="img glitch">
            </div>
            <span class="desc">Organized the first AngelHack hackathon in Sofia.</span>
            </li></p>

            <p><li><strong>This website.</strong>
            <div class="img glitch">
            <span class="desc">duh.</span>
            </div>
            </li></p>
            </ul>     
                    	</div>
                	</div>
            	</div>
            </div>
        </section>

        <section id="contact" class="page table center">
            <div class="row">
                <div class="cell">
                    <div class="content">
                        <h2 class="title-caret">Contact</h2>
                        <p>Feel free to drop me a line if you feel like it.<br />

                        <div id='contact-box' class="group">
                          <div class="span6 clear">

                            <form method="POST" action="http://formspree.io/manev.ru@gmail.com">
                                <input type="text" name="name" class="span4" placeholder="Your name">
                                <input type="email" name="email" class="span4" placeholder="Your email">
                                <textarea name="message" cols='30' rows="10" placeholder="Write something..."></textarea>
                                <button type="submit">Send</button>
                            </form>
                          </div>
                        </div>
                                
<!--                         <form method="post" name="mailer" id="form-mailer" form-action="https://rman.herokuapp.com/" class="form">
                            <input name="language" type="hidden" value="en">

                            <div class="three-inputs">
                                <span class="input">
                                    <label for="name">Name</label>
                                    <input name="name" id="name" type="text" required placeholder="Name">
                                </span>
                                <span class="input">
                                    <label for="email">E-mail</label>
                                    <input name="email" id="email" type="email" required placeholder="E-mail">
                                </span>
                                <span class="input">
                                    <label for="tel">Phone</label>
                                    <input name="tel" id="tel" type="text" placeholder="Phone">
                                </span>
                            </div>

                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="4" required placeholder="Write something...."></textarea>
                            
                            <div class="status"></div>

                            <button id="submit-btn" class="submit" data-def="Send" data-load="Sending...">Send</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </section>
	</div>
   
    <footer id="footer">
        <div class="section-wrap">
            <div class="social">
                <a class="fa fa-envelope menu-white-text fa-lg" href="mailto:manev.ru@gmail.com" target="_blank"></a>
                <a class="fa fa-linkedin menu-white-text fa-lg" href="https://bg.linkedin.com/in/rmanev" target="_blank"></a>
                <a class="fa fa-twitter menu-white-text fa-lg" href="http://twitter.com/intent/tweet?screen_name=room_n" target="_blank"></a>
                <a class="fa fa-medium menu-white-text fa-lg" href="https://medium.com/@room_n" target="_blank"></a>
            </div>
            <b>&copy;</b> 2017 Rumen Manev
        </div>
    </footer>

	
		<!-- div id="e-pitch">
			<h2>THINGS I DID</h2>
			<div id="e-pitch-text">
				<ul class="timeline-info">
					<li>Created an <a href="http://nordkins.com" target="_blank">apparel brand</a> together with my girlfriend.</li>
					<li>Started a charity project called <a href="http://grafficards.com" target="_blank">Grafficards</a>.</li>
					<li>Organized the first <a href="https://www.linkedin.com/pulse/organizing-hackathon-rumen-manev?trk=prof-post" target="-blank">AngelHack hackathon</a> in Sofia.</li>
				</ul>
			</div>
		</div> -->
<!-- 				<li>2008 - Bachelor's @ <a href="https://www.uni-sofia.bg/index.php/eng" target="_blank">Sofia University</a></li>
				<li>2012 - started work @ <a href="http://kamarko.eu/" target="_blank">Coria Ltd.</a></li>
				<li>2014 - Master's @ <a href="http://hj.se/" target="_blank">JU, Sweden</a></li>
				<li>2015 - started work @ <a href="https://code-runners.com" target="_blank">Code Runners</a></li>
				<li>2016 - ran my first marathon</li> -->