---
title: Sofia Marathon 2015
---
<div id="side-race">
    <ul class="backbutton" id="menu">
    <img class="race-logo" src="/images/sofiamarathonlogo.jpg"></img>
    <li>
        <a href="/#.html"><h1>Home</h1></a>
    </li>
    </ul>
    <ul class="backbutton" id="menu">
    <li>
        <a href="/race_results.html"><h1>Back</h1></a>
    </li>
    </ul>
</div>

<div id="pages">
<h3 class="title-race">Sofia Marathon 2015</h3><br>
	
    <section id="projects" class="page table center">
	    <div class="row">
            <div class="content">
                <div id="scatterplot-sm2016-female"></div>
            </div>
        </div>

    </section>

    <section id="projects" class="page table center">
        <div class="row">
            <div class="content">
                <div id="scatterplot-sm2016-male"></div>
            </div>
        </div>
    </section>

    <hr>
        <ul>
            <li>1. Data taken from the Sofia Marathon <a href="http://www.marathonsofia.com/?lang=en">official website.</a></li>
            <li>2. Data normalized with R.</li>
            <li>3. Charts created with <a href="https://www.highcharts.com">Highcharts.</a></li>
        </ul>
        <br>
</div>